.login-container {
  height: calc(100vh - 4rem);
  background: linear-gradient(135deg, #ffffff, #f4f7f3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 64, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 300px;
  /* border: 1px solid #9ba497; */
}

.login-title {
  /* text-align: center; */
  color: #4b6e36;
  margin-bottom: 3rem;
  margin-top: 0;
}

.login-input {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #a8bfa0;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

.login-button {
  background-color: #046bc5;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: none;
}

.login-button:hover {
  background-color: #35a6ec;
}

.login-error {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
}

.disable-login {
  cursor:progress !important;
  background-color: #b9e4f0;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: none;
}

.loader-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-link-div {
  margin-top: 20px;
  text-align: end;
}

.register-link {
  text-decoration: none;
  color: #1a92ed;
  font-weight: 600;
}

.register-link:hover {
  color: #11609d;
  font-size: 17px;
}